.adminavatar {
    display: block;
    margin: 0 auto 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #fff 3px solid;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4), inset 0px 3px 2px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    background-size: auto, 100%;
}
.admin-table{
    width: 100%;
    margin: auto;
}
.admin-userdata{
    padding-top: 10%;
}


.pagination-button{
text-align: center;
width: 100px !important;
top: 6px;
position: relative;
}